* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/***** Reset + Configs *****/

:root {
    --color1-dark-green: #00343c;
    --color2-light-green: #54aaa9;
    --color3-cyan: #00fefb;
    --white-default: #fff;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 16px;
    height: 20px;
    background: var(--color1-dark-green);
}

::-webkit-scrollbar-track {
    background: var(--color1-dark-green);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--color2-light-green);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color3-cyan);
}

ul,
li,
a,
ol {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 120px;
    height: 10vh;
    width: 100vw;
    position: absolute;
    background: rgba(26, 26, 26, 0.77);
}

header img {
    width: auto;
    height: 90%;
}

section {
    height: 100vh;
    width: 100vw;
}

.menuToggle {
    display: none;
    position: absolute;
    top: 2.7em;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

.menuToggle span {
    display: none;
    height: 0.4rem;
    width: 100%;
    background-color: var(--white-default);
    border-radius: 0.2rem;
}

.menu {
    display: flex;
    gap: 1rem;
}

.menu li {
    width: max-content;
    height: max-content;
    padding: 4px 12px;
    border: 3px solid transparent;
    position: relative;
    cursor: pointer;
}

.menu li::after {
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    top: 10;
    left: 0;
    width: 0;
    transition: width 0.5s ease;
    border-bottom: 3px solid var(--color2-light-green);
}

.menu li:hover::after {
    width: 100%;
}

.link-menu {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--white-default);
}

/***** Foooter *****/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px;
    width: 100vw;
    height: 10vh;
    background-color: var(--color1-dark-green);
}

.contt-email {
    display: flex;
    gap: 8px;
}

.contt-email p {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--white-default);
}

.copyright {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--white-default);
}

.social-media {
    display: flex;
    gap: 2rem;
}

.icon-media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: 0.5s ease;
    background-color: var(--white-default);
    color: var(--color2-light-green);
}

.icon-media:hover {
    background-color: var(--color1-dark-green);
    color: var(--white-default);
}

@media (max-width: 1200px) {
    section {
        min-height: 100vh;
        height: auto;
    }
}

@media (max-width: 1080px) {
    section {
        min-height: 100vh;
        height: auto;
    }
    header img {
        height: 60%;
        width: auto;
    }

    .link-menu {
        font-size: 1rem;
    }

    .contt-email p {
        font-size: 1rem;
    }

    .contt-email svg {
        width: 20px;
        height: auto;
    }

    .copyright {
        font-size: 1rem;
    }

    .icon-media {
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
    }
}

@media (max-width: 920px) {
    header {
        padding: 0px 60px;
    }

    footer {
        padding: 0px 60px;
    }

    .menu {
        gap: 0.25rem;
    }

    .link-menu {
        font-size: 0.75rem;
    }
}

@media (max-width: 840px) {
    .contt-email p {
        font-size: 0.75rem;
    }

    .contt-email svg {
        width: 1rem;
        height: auto;
    }

    .copyright {
        font-size: 0.75rem;
    }

    .icon-media {
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
    }

    .social-media {
        gap: 1rem;
    }
}

@media (max-width: 640px) {
    footer {
        display: flex;
        flex-direction: column;
        min-height: 10vh;
        height: auto;
        padding: 1rem 0px;
        gap: 1.5rem;
    }

    .contt-email p {
        font-size: 1rem;
    }

    .contt-email svg {
        width: 20px;
        height: auto;
    }

    .copyright {
        font-size: 1rem;
    }

    .icon-media {
        width: 2.25rem;
        height: 2.25rem;
        font-size: 1.1rem;
    }
}

@media (max-width: 740px) {
    .menuToggle span {
        height: 3px;
        display: flex;
        border-top-color: transparent;
        z-index: 2;
    }

    header img {
        height: 40%;
        max-height: 80px;
        width: auto;
    }

    header {
        background: rgba(26, 26, 26);
        height: auto;
        padding: 0rem 2rem;
        padding-top: 1.6rem;
        gap: 1rem;
        padding-bottom: 1rem;
        flex-direction: column;
        align-items: start;
    }

    nav {
        width: 100%;
    }

    .menu {
        background: rgba(26, 26, 26);
        z-index: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition:
            opacity 0.5s ease,
            max-height 2s ease;
    }

    .open {
        opacity: 1;
        max-height: 1000px;
        /* Ajuste isso para uma altura máxima suficientemente grande */
        transition:
            opacity 0.8s ease,
            max-height 3s ease;
    }

    /* ----- animations--------- */
    /* clicked */
    .menu-span.clicked:nth-child(1) {
        height: 2px;
        transform-origin: 0% 0%;
        transform: rotate(45deg) translate(2px, 2px);
        transition: ease-out 0.5s;
    }

    .menu-span.clicked:nth-child(2) {
        display: none;
    }

    .menu-span.clicked:nth-child(3) {
        height: 2px;
        transform-origin: 0% 100%;
        transform: rotate(-45deg) translate(2px, -2px);
        transition: ease-out 0.5s;
    }

    /* unclicked */
    .menu-span.unclicked {
        transform: rotate(0) translate(0);
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    }

    .link-menu {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0.2rem;
        font-size: 1.55rem;
    }

    .menu li {
        display: flex;
        width: 100%;
    }
}
