.sec-objetivos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0px 200px;
    background-image: url(../assets/bg-sec-3.png);
}

.sec-objetivos h1 {
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--white-default);
}

.container-objetivos {
    display: flex;
    width: 100%;
}

.container-objetivos img {
    width: auto;
    height: 100%;
}

.box-objetivos {
    padding: 52px 42px;
    width: 45%;
    height: 330px;
    border-radius: 36px;
    background: rgba(129, 129, 139, 0.1);
}

.box-objetivos h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 72.72px;
    color: var(--white-default);
}

.box-objetivos p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 31.957px; /* 150% */
    color: #9c9c9c;
}

.info-objetivos {
    display: flex;
    flex-wrap: wrap;
    width: 820px;
    gap: 20px;
}

@media (max-width: 1440px) {
    .sec-objetivos {
        padding: 0px 60px;
    }

    .container-objetivos img {
        width: 40%;
        height: auto;
    }

    .box-objetivos h2 {
        font-size: 1.5rem;
    }

    .box-objetivos p {
        font-size: 0.75rem;
    }

    .box-objetivos {
        padding: 42px 42px;
        width: 45%;
        height: max-content;
        border-radius: 36px;
        background: rgba(129, 129, 139, 0.1);
    }
}

@media (max-width: 1200px) {
    .sec-objetivos {
        padding: 0px 60px;
    }

    .container-objetivos img {
        display: none;
    }

    .box-objetivos h2 {
        font-size: 1.2rem;
    }

    .box-objetivos p {
        font-size: 0.65rem;
    }

    .box-objetivos {
        padding: 24px 24px;
        width: 45%;
        min-height: 280px;
        height: max-content;
        border-radius: 36px;
        background: rgba(129, 129, 139, 0.1);
    }
}

@media (max-width: 720px) {
    .sec-objetivos {
        padding: 24px 60px;
    }

    .sec-objetivos h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .box-objetivos {
        padding: 24px 24px;
        width: 100%;
        min-height: 280px;
        height: max-content;
        border-radius: 36px;
        background: rgba(129, 129, 139, 0.1);
    }

    .box-objetivos h2 {
        font-size: 1.5rem;
    }

    .box-objetivos p {
        font-size: 1rem;
    }
}
